body {
    background-color: #eee;
}

div {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 2rem;
    margin: 0 auto;
    max-width: 60rem;   
}

h1 {
    color: red;
    font-size: 1.8rem;
}